*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    max-width: 100%; 
    overflow-x: hidden;
    overflow-y: 0;
    display: flex;
    flex-direction: column;
    background-color: brown;

    
}

ul{
    display: flex;
    text-decoration: none;
}
li{

    list-style: none;   
}
ul{
    
    justify-content: center;
          
}
a{
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    color: black;
}
a:hover{
    transform: scale(1.2);
  }
img{
    
    max-width: 100%;
}
video{
    margin-top: 0px;
    max-width: 100%;
    
}
#video{
    margin: 0px auto;
display:inline;
height: 500px;
width: 500px;
display: flexbox;
flex-shrink: 1;

}
#image{
margin: 40px auto;
display: block;
height: 400px;
width: 3000px;
z-index: 10000;
position: relative;
right: 100px;



}
img{
    width: 100px;
    margin-right: 10px;
    
    
}
#img-caption{
    border: 2px brown solid;
    width: 100%;
    background-color: brown;
    position: fixed;
    height: 70px;
    
}
#header-img{
    height: 70px;
    max-width: 100%;
    margin: 0px;
    margin-top: 0px;
    position: relative;
    border: 2px brown solid;
    background-color: white;
    
    
}


#nav-bar{
    background: white;
    position: fixed;
    width: 92.3%;
    left:0px;
    top: 70px;
    width: 100%;
    display: flex;
    z-index: 99999;
    align-items: center;
    justify-content: center;
    border: 2px brown solid;
    
}

#video-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
#collection{
    margin: 0px auto;
    background-color: white;
    height: 450px;
    border: 2px black solid;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 85px;
    width:97%;
    display: flex;
    align-items: center;
    justify-items: center;
}

#project-head{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

welcome{
    
    height: 500px;
    border: 2px brown solid;
    margin-bottom: 0px;
    width: 100%;
    

}
#welcome-section{

    background-color: white;
    margin-top: 100px;
    padding-top: 50px;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 0px;
   border: 8px brown solid;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#videos{
    background-color: brown;
    max-width: 100%;
  height: 50vh;  
}

@media(min-width:1050px){
    #home{display: flex;
        flex-direction: row;
        margin-top: 00px;
        padding-top: 00px;
       
    }
    a{
        padding: 20px;
    }
    #projects{
        
        padding: 60px;
   padding-top: 10px;
   padding-bottom: 10px;
    }
    #collection{
        width: 100%;
        margin-top: 100px;
        height: 400px;
        padding: 10px;
        margin-top: 200px;
        margin-right: 20px;
        
    }
    #video{
        height: 350px;
        padding: 10px;
        border: 2px brown solid;
        
        
    }
    
    #videos{
        width: 70%;
        
    }
    #body{
        height: 100vh;
    }
    #welcome-section{
        height:100vh ;
        margin-top: 0px;
        padding-top: 50px;
    }
}
#home{
    max-width: 100%;
    margin-top: 10px;
    padding-top: 10px;
}


/*form*/
#phone-number{font-size:20px ;}
#order{
    margin-top: 150px;
    padding-top: 100px;
}
@media(min-width:1050px){
    #order{
        margin-top: 100px;
        padding-top: 150px;
    } 
}
h1{
    text-align: center;
    font-size: 35px;
}
 
#form{
    width: 80%;
    margin:20px auto;
    background-color: white;
    padding:10px;
    
}

#email{
    width:100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
}
#phone-n{
    width:100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
}
label{
    margin-bottom: 10px;
}

.p-form{
    margin-bottom: 5px;
}
textarea {
    width:100%;
    height: 100px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
}
#submit{
    width:100%;
    height: 60px;
    border-radius: 5px;
    font-size: 18px;
    background-color: brown;
}
#submit:hover{
    background-color:chocolate;
    transform: scale(1.1);
}
.checkbox{
    height:20px;
    width:5%;
}
.radio{
    height:20px;
    width:5%;
}
/*product*/
#projects{
    margin-top: 150px;
    width: 100%;
    padding-top: 50px;
}
@media(min-width:1050px){
    #projects{
        margin-top: 150px;
        padding-top: 150px;
    } 
}


.product-image{
    width:300px;
    height: 200px;
    margin-top: 15px ;
    margin-left: 100px;
    
}
@media(max-width:550px){
    .product-image{
        margin-left: 5px;
    }
    
}
.product{
    display: flex;


}
.labels{
    
    align-self: center;
    color: white;

}
.label{
    align-self: start;
    margin-left:100px ;
    margin-top: 15px;
    
}

/*contact*/
#contact{
    background-color: brown;
    width: 100%;
  height: 95vh;
   padding: 40px;
   padding-top: 80px;
   margin: 10 auto;
   display: flex;
   flex-direction: column;  
   color: white;
}

@media(min-width:1050px){
    #contact{
        margin-top: 150px;
        padding-top: 150px;
    } 
}
#contact-icon{
    display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
    margin: 50px auto;
}
.contact-head1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;   
}
#phone{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.contact-head{
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
}

